# pandas
## 数据读取

In [2]:
import pandas as pd

In [3]:
path = r'C:\Users\10746\HappyStudy\Data_Warehouse\DataVisualization\countries.csv\countries.csv'
f = open(path,encoding='utf-8')
df = pd.read_csv(f)

In [6]:
print(df.head()) # 获取前五行数据
# print(df)

       country  year  population
0  Afghanistan  1952     8425333
1  Afghanistan  1957     9240934
2  Afghanistan  1962    10267083
3  Afghanistan  1967    11537966
4  Afghanistan  1972    13079460

## DataFrame类型

In [46]:
print(type(df))

<class 'pandas.core.frame.DataFrame'>

## 显示设置

In [9]:
pd.set_option('display.max_row',50) # 设置最大显示50行
pd.set_option('display.max_columns',50) # 设置最大显示50列
print(df)

          country  year  population
0     Afghanistan  1952     8425333
1     Afghanistan  1957     9240934
2     Afghanistan  1962    10267083
3     Afghanistan  1967    11537966
4     Afghanistan  1972    13079460
5     Afghanistan  1977    14880372
6     Afghanistan  1982    12881816
7     Afghanistan  1987    13867957
8     Afghanistan  1992    16317921
9     Afghanistan  1997    22227415
10    Afghanistan  2002    25268405
11    Afghanistan  2007    31889923
12        Albania  1952     1282697
13        Albania  1957     1476505
14        Albania  1962     1728137
15        Albania  1967     1984060
16        Albania  1972     2263554
17        Albania  1977     2509048
18        Albania  1982     2780097
19        Albania  1987     3075321
20        Albania  1992     3326498
21        Albania  1997     3428038
22        Albania  2002     3508512
23        Albania  2007     3600523
24        Algeria  1952     9279525
...           ...   ...         ...
1679  Yemen, Rep.  2007    22211743
1680       Zambia  1952     2672000
1681       Zambia  1957     3016000
1682       Zambia  1962     3421000
1683       Zambia  1967     3900000
1684       Zambia  1972     4506497
1685       Zambia  1977     5216550
1686       Zambia  1982     6100407
1687       Zambia  1987     7272406
1688       Zambia  1992     8381163
1689       Zambia  1997     9417789
1690       Zambia  2002    10595811
1691       Zambia  2007    11746035
1692     Zimbabwe  1952     3080907
1693     Zimbabwe  1957     3646340
1694     Zimbabwe  1962     4277736
1695     Zimbabwe  1967     4995432
1696     Zimbabwe  1972     5861135
1697     Zimbabwe  1977     6642107
1698     Zimbabwe  1982     7636524
1699     Zimbabwe  1987     9216418
1700     Zimbabwe  1992    10704340
1701     Zimbabwe  1997    11404948
1702     Zimbabwe  2002    11926563
1703     Zimbabwe  2007    12311143

[1704 rows x 3 columns]

## header调整

In [42]:
path = r'C:\Users\10746\HappyStudy\Data_Warehouse\DataVisualization\countries.csv\countries.csv'
f = open(path,encoding='utf-8')
df = pd.read_csv(f,header=None) # 把第一行设置为不是标题行
print(df.head())

             0     1           2
0      country  year  population
1  Afghanistan  1952     8425333
2  Afghanistan  1957     9240934
3  Afghanistan  1962    10267083
4  Afghanistan  1967    11537966

## index索引调整

In [26]:
f = open(path,encoding='utf-8')
df = pd.read_csv(f,index_col=0) # 把第0列设置为索引列
print(df)

             year  population
country
Afghanistan  1952     8425333
Afghanistan  1957     9240934
Afghanistan  1962    10267083
Afghanistan  1967    11537966
Afghanistan  1972    13079460
Afghanistan  1977    14880372
Afghanistan  1982    12881816
Afghanistan  1987    13867957
Afghanistan  1992    16317921
Afghanistan  1997    22227415
Afghanistan  2002    25268405
Afghanistan  2007    31889923
Albania      1952     1282697
Albania      1957     1476505
Albania      1962     1728137
Albania      1967     1984060
Albania      1972     2263554
Albania      1977     2509048
Albania      1982     2780097
Albania      1987     3075321
Albania      1992     3326498
Albania      1997     3428038
Albania      2002     3508512
Albania      2007     3600523
Algeria      1952     9279525
...           ...         ...
Yemen, Rep.  2007    22211743
Zambia       1952     2672000
Zambia       1957     3016000
Zambia       1962     3421000
Zambia       1967     3900000
Zambia       1972     4506497
Zambia       1977     5216550
Zambia       1982     6100407
Zambia       1987     7272406
Zambia       1992     8381163
Zambia       1997     9417789
Zambia       2002    10595811
Zambia       2007    11746035
Zimbabwe     1952     3080907
Zimbabwe     1957     3646340
Zimbabwe     1962     4277736
Zimbabwe     1967     4995432
Zimbabwe     1972     5861135
Zimbabwe     1977     6642107
Zimbabwe     1982     7636524
Zimbabwe     1987     9216418
Zimbabwe     1992    10704340
Zimbabwe     1997    11404948
Zimbabwe     2002    11926563
Zimbabwe     2007    12311143

[1704 rows x 2 columns]

In [27]:
f = open(path,encoding='utf-8')
df = pd.read_csv(f,index_col=1) # 把第1列设置为索引列，此时第1列会显示在前面
print(df)

          country  population
year
1952  Afghanistan     8425333
1957  Afghanistan     9240934
1962  Afghanistan    10267083
1967  Afghanistan    11537966
1972  Afghanistan    13079460
1977  Afghanistan    14880372
1982  Afghanistan    12881816
1987  Afghanistan    13867957
1992  Afghanistan    16317921
1997  Afghanistan    22227415
2002  Afghanistan    25268405
2007  Afghanistan    31889923
1952      Albania     1282697
1957      Albania     1476505
1962      Albania     1728137
1967      Albania     1984060
1972      Albania     2263554
1977      Albania     2509048
1982      Albania     2780097
1987      Albania     3075321
1992      Albania     3326498
1997      Albania     3428038
2002      Albania     3508512
2007      Albania     3600523
1952      Algeria     9279525
...           ...         ...
2007  Yemen, Rep.    22211743
1952       Zambia     2672000
1957       Zambia     3016000
1962       Zambia     3421000
1967       Zambia     3900000
1972       Zambia     4506497
1977       Zambia     5216550
1982       Zambia     6100407
1987       Zambia     7272406
1992       Zambia     8381163
1997       Zambia     9417789
2002       Zambia    10595811
2007       Zambia    11746035
1952     Zimbabwe     3080907
1957     Zimbabwe     3646340
1962     Zimbabwe     4277736
1967     Zimbabwe     4995432
1972     Zimbabwe     5861135
1977     Zimbabwe     6642107
1982     Zimbabwe     7636524
1987     Zimbabwe     9216418
1992     Zimbabwe    10704340
1997     Zimbabwe    11404948
2002     Zimbabwe    11926563
2007     Zimbabwe    12311143

[1704 rows x 2 columns]

In [40]:
f = open(path,encoding='utf-8')
df = pd.read_csv(f,index_col=False) # 和不填index_col=False一样 以整数作为索引
print(df)

          country  year  population
0     Afghanistan  1952     8425333
1     Afghanistan  1957     9240934
2     Afghanistan  1962    10267083
3     Afghanistan  1967    11537966
4     Afghanistan  1972    13079460
5     Afghanistan  1977    14880372
6     Afghanistan  1982    12881816
7     Afghanistan  1987    13867957
8     Afghanistan  1992    16317921
9     Afghanistan  1997    22227415
10    Afghanistan  2002    25268405
11    Afghanistan  2007    31889923
12        Albania  1952     1282697
13        Albania  1957     1476505
14        Albania  1962     1728137
15        Albania  1967     1984060
16        Albania  1972     2263554
17        Albania  1977     2509048
18        Albania  1982     2780097
19        Albania  1987     3075321
20        Albania  1992     3326498
21        Albania  1997     3428038
22        Albania  2002     3508512
23        Albania  2007     3600523
24        Algeria  1952     9279525
...           ...   ...         ...
1679  Yemen, Rep.  2007    22211743
1680       Zambia  1952     2672000
1681       Zambia  1957     3016000
1682       Zambia  1962     3421000
1683       Zambia  1967     3900000
1684       Zambia  1972     4506497
1685       Zambia  1977     5216550
1686       Zambia  1982     6100407
1687       Zambia  1987     7272406
1688       Zambia  1992     8381163
1689       Zambia  1997     9417789
1690       Zambia  2002    10595811
1691       Zambia  2007    11746035
1692     Zimbabwe  1952     3080907
1693     Zimbabwe  1957     3646340
1694     Zimbabwe  1962     4277736
1695     Zimbabwe  1967     4995432
1696     Zimbabwe  1972     5861135
1697     Zimbabwe  1977     6642107
1698     Zimbabwe  1982     7636524
1699     Zimbabwe  1987     9216418
1700     Zimbabwe  1992    10704340
1701     Zimbabwe  1997    11404948
1702     Zimbabwe  2002    11926563
1703     Zimbabwe  2007    12311143

[1704 rows x 3 columns]

## 修改header

In [4]:
f = open(path,encoding='utf-8')
uer_input_cols = ['a','b','c','d']
# 把header改为uer_input_cols里设置的,设置的header名称不能重复
df = pd.read_csv(f,names = uer_input_cols) 
print(df)

                a     b           c   d
0         country  year  population NaN
1     Afghanistan  1952     8425333 NaN
2     Afghanistan  1957     9240934 NaN
3     Afghanistan  1962    10267083 NaN
4     Afghanistan  1967    11537966 NaN
5     Afghanistan  1972    13079460 NaN
6     Afghanistan  1977    14880372 NaN
7     Afghanistan  1982    12881816 NaN
8     Afghanistan  1987    13867957 NaN
9     Afghanistan  1992    16317921 NaN
10    Afghanistan  1997    22227415 NaN
11    Afghanistan  2002    25268405 NaN
12    Afghanistan  2007    31889923 NaN
13        Albania  1952     1282697 NaN
14        Albania  1957     1476505 NaN
15        Albania  1962     1728137 NaN
16        Albania  1967     1984060 NaN
17        Albania  1972     2263554 NaN
18        Albania  1977     2509048 NaN
19        Albania  1982     2780097 NaN
20        Albania  1987     3075321 NaN
21        Albania  1992     3326498 NaN
22        Albania  1997     3428038 NaN
23        Albania  2002     3508512 NaN
24        Albania  2007     3600523 NaN
25        Algeria  1952     9279525 NaN
26        Algeria  1957    10270856 NaN
27        Algeria  1962    11000948 NaN
28        Algeria  1967    12760499 NaN
29        Algeria  1972    14760787 NaN
...           ...   ...         ...  ..
1675  Yemen, Rep.  1982     9657618 NaN
1676  Yemen, Rep.  1987    11219340 NaN
1677  Yemen, Rep.  1992    13367997 NaN
1678  Yemen, Rep.  1997    15826497 NaN
1679  Yemen, Rep.  2002    18701257 NaN
1680  Yemen, Rep.  2007    22211743 NaN
1681       Zambia  1952     2672000 NaN
1682       Zambia  1957     3016000 NaN
1683       Zambia  1962     3421000 NaN
1684       Zambia  1967     3900000 NaN
1685       Zambia  1972     4506497 NaN
1686       Zambia  1977     5216550 NaN
1687       Zambia  1982     6100407 NaN
1688       Zambia  1987     7272406 NaN
1689       Zambia  1992     8381163 NaN
1690       Zambia  1997     9417789 NaN
1691       Zambia  2002    10595811 NaN
1692       Zambia  2007    11746035 NaN
1693     Zimbabwe  1952     3080907 NaN
1694     Zimbabwe  1957     3646340 NaN
1695     Zimbabwe  1962     4277736 NaN
1696     Zimbabwe  1967     4995432 NaN
1697     Zimbabwe  1972     5861135 NaN
1698     Zimbabwe  1977     6642107 NaN
1699     Zimbabwe  1982     7636524 NaN
1700     Zimbabwe  1987     9216418 NaN
1701     Zimbabwe  1992    10704340 NaN
1702     Zimbabwe  1997    11404948 NaN
1703     Zimbabwe  2002    11926563 NaN
1704     Zimbabwe  2007    12311143 NaN

[1705 rows x 4 columns]

## series显示列

In [ ]:
print(type(df['a'])) # series 系列类型数据
print(df['a'])  # 显示a列数据

In [16]:
# print(df.a)   # 显示a列， a不能为数字 或 函数关键字如 df.shape
print(df.a.head())  # 显示a列的head

0        country
1    Afghanistan
2    Afghanistan
3    Afghanistan
4    Afghanistan
Name: a, dtype: object

## series相加

In [12]:
print(type(df.a+df.b))
print(df.a+df.b)  # 两列的数据变成字符串的形式相加

<class 'pandas.core.series.Series'>
0           countryyear
1       Afghanistan1952
2       Afghanistan1957
3       Afghanistan1962
4       Afghanistan1967
5       Afghanistan1972
6       Afghanistan1977
7       Afghanistan1982
8       Afghanistan1987
9       Afghanistan1992
10      Afghanistan1997
11      Afghanistan2002
12      Afghanistan2007
13          Albania1952
14          Albania1957
15          Albania1962
16          Albania1967
17          Albania1972
18          Albania1977
19          Albania1982
20          Albania1987
21          Albania1992
22          Albania1997
23          Albania2002
24          Albania2007
25          Algeria1952
26          Algeria1957
27          Algeria1962
28          Algeria1967
29          Algeria1972
             ...
1675    Yemen, Rep.1982
1676    Yemen, Rep.1987
1677    Yemen, Rep.1992
1678    Yemen, Rep.1997
1679    Yemen, Rep.2002
1680    Yemen, Rep.2007
1681         Zambia1952
1682         Zambia1957
1683         Zambia1962
1684         Zambia1967
1685         Zambia1972
1686         Zambia1977
1687         Zambia1982
1688         Zambia1987
1689         Zambia1992
1690         Zambia1997
1691         Zambia2002
1692         Zambia2007
1693       Zimbabwe1952
1694       Zimbabwe1957
1695       Zimbabwe1962
1696       Zimbabwe1967
1697       Zimbabwe1972
1698       Zimbabwe1977
1699       Zimbabwe1982
1700       Zimbabwe1987
1701       Zimbabwe1992
1702       Zimbabwe1997
1703       Zimbabwe2002
1704       Zimbabwe2007
Length: 1705, dtype: object

In [15]:
print(df.a+','+df.b) # 两列数据以,号相连

0           country,year
1       Afghanistan,1952
2       Afghanistan,1957
3       Afghanistan,1962
4       Afghanistan,1967
5       Afghanistan,1972
6       Afghanistan,1977
7       Afghanistan,1982
8       Afghanistan,1987
9       Afghanistan,1992
10      Afghanistan,1997
11      Afghanistan,2002
12      Afghanistan,2007
13          Albania,1952
14          Albania,1957
15          Albania,1962
16          Albania,1967
17          Albania,1972
18          Albania,1977
19          Albania,1982
20          Albania,1987
21          Albania,1992
22          Albania,1997
23          Albania,2002
24          Albania,2007
25          Algeria,1952
26          Algeria,1957
27          Algeria,1962
28          Algeria,1967
29          Algeria,1972
              ...
1675    Yemen, Rep.,1982
1676    Yemen, Rep.,1987
1677    Yemen, Rep.,1992
1678    Yemen, Rep.,1997
1679    Yemen, Rep.,2002
1680    Yemen, Rep.,2007
1681         Zambia,1952
1682         Zambia,1957
1683         Zambia,1962
1684         Zambia,1967
1685         Zambia,1972
1686         Zambia,1977
1687         Zambia,1982
1688         Zambia,1987
1689         Zambia,1992
1690         Zambia,1997
1691         Zambia,2002
1692         Zambia,2007
1693       Zimbabwe,1952
1694       Zimbabwe,1957
1695       Zimbabwe,1962
1696       Zimbabwe,1967
1697       Zimbabwe,1972
1698       Zimbabwe,1977
1699       Zimbabwe,1982
1700       Zimbabwe,1987
1701       Zimbabwe,1992
1702       Zimbabwe,1997
1703       Zimbabwe,2002
1704       Zimbabwe,2007
Length: 1705, dtype: object

## 添加新列

In [18]:
df['e'] = df.a+','+df.b # e列为a，b两列数据以,号相连
print(df.head())

             a     b           c   d                 e
0      country  year  population NaN      country,year
1  Afghanistan  1952     8425333 NaN  Afghanistan,1952
2  Afghanistan  1957     9240934 NaN  Afghanistan,1957
3  Afghanistan  1962    10267083 NaN  Afghanistan,1962
4  Afghanistan  1967    11537966 NaN  Afghanistan,1967

## 有()与无()

In [4]:
print(df.dtypes)  # 查看各列数据类型
# .dtypes  本身的特性，df.dtypes:df的数据类型
print(df.head())
# .head()  有()表示一种方法 df.head() df的head的方法

country       object
year           int64
population     int64
dtype: object

## .describe() 描述

In [6]:
print(df.describe())  # std 波动性

             year    population
count  1704.00000  1.704000e+03
mean   1979.50000  2.960121e+07
std      17.26533  1.061579e+08
min    1952.00000  6.001100e+04
25%    1965.75000  2.793664e+06
50%    1979.50000  7.023596e+06
75%    1993.25000  1.958522e+07
max    2007.00000  1.318683e+09